@page "/IdReverseLookup"

<h1>ID逆引き</h1>

<form @onsubmit="Search">
    <input @bind="id" @bind:event="oninput" placeholder="モンスターID">
    <button class="btn btn-primary" @onclick="Search">検索</button>
</form>

<br />
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
@if(result != null) {
        <tbody>
            <tr>
                <td>@id</td>
                <td>@result</td>
            </tr>
        </tbody>
}
    </table>
