@page "/IdSearch"

<h1>モンスターID検索</h1>

<form @onsubmit="Search">
    <input @bind="name" @bind:event="oninput" placeholder="モンスター名">
    <button class="btn btn-primary" @onclick="Search">検索</button>
</form>

<br />
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
            </tr>
        </thead>
@if(result != null) {
        <tbody>
            @foreach(var name in result) {
                <tr>
                    <td>@name</td>
                    <td>
                        @foreach(var id in KaedeProcess.GetIdsFromName(name)) {
                            <ul>
                                <li>@id</li>
                            </ul>
                        }
                    </td>
                </tr>
            }
        </tbody>
}
    </table>