@page "/IdReverseLookup"

<h1>ID逆引き</h1>

<form @onsubmit="Search">
    <input @bind="id" @bind:event="oninput" placeholder="モンスター名">
    <button @onclick="Search">検索</button>
</form>

@if(result != null) {
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@id</td>
                <td>@result</td>
            </tr>
        </tbody>
    </table>
} else {
    <br />
    <p>該当無し</p>
}
